@page
@model AppSecPracticalAssignment_223981B.Views.ChangePasswordModel
@{
}


<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Change Password</h1>

            <form method="post">

                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.ExistingPassword">Current Password</label>
                    <input type="password" asp-for="CPModel.ExistingPassword" class="form-control" />
                    <span asp-validation-for="CPModel.ExistingPassword" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.UpdatedPassword">New Password</label>
                    <input type="password" asp-for="CPModel.UpdatedPassword" class="form-control" />
                    <span asp-validation-for="CPModel.UpdatedPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.ConfirmUpdatedPassword">Confirm Password</label>
                    <input type="password" asp-for="CPModel.ConfirmUpdatedPassword" class="form-control" />
                    <span asp-validation-for="CPModel.ConfirmUpdatedPassword" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
