@page
@model AppSecPracticalAssignment_223981B.Views.RegisterModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register</h1>
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.FullName">Full Name</label>
                    <input type="text" asp-for="RModel.FullName" class="form-control" />
                    <span asp-validation-for="RModel.FullName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.CreditCardNumber">Credit Card No</label>
                    <input type="text" asp-for="RModel.CreditCardNumber" class="form-control" />
                    <span asp-validation-for="RModel.CreditCardNumber" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Gender">Gender</label>
                    <select asp-for="RModel.Gender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <span asp-validation-for="RModel.Gender" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.MobileNumber">Mobile No</label>
                    <input type="text" asp-for="RModel.MobileNumber" class="form-control" />
                    <span asp-validation-for="RModel.MobileNumber" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.DeliveryAddress">Delivery Address</label>
                    <input type="text" asp-for="RModel.DeliveryAddress" class="form-control" />
                    <span asp-validation-for="RModel.DeliveryAddress" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Email">Email Address</label>
                    <input type="text" asp-for="RModel.Email" class="form-control" />
                    <span asp-validation-for="RModel.Email" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Password">Password</label>
                    <input type="password" asp-for="RModel.Password" class="form-control" />
                    <span asp-validation-for="RModel.Password" class="text-danger"></span>
                    <div id="passwordStrengthMessage" class="text-muted"></div>

                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="RModel.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="RModel.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Photo">Photo (.JPG only)</label>
                    <input type="file" asp-for="RModel.Photo" class="form-control" />
                    <span asp-validation-for="RModel.Photo" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.AboutMe">About Me</label>
                    <textarea asp-for="RModel.AboutMe" class="form-control"></textarea>
                    <span asp-validation-for="RModel.AboutMe" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>





@section Scripts {

    <script>
        function checkPasswordStrength() {
            var password = document.getElementById('passwordInput').value;
            var strength = 0;


            if (password.length < 8) {
                strength = 0;
            } else {
                if (/[A-Z]/.test(password)) {
                    strength += 1;
                }

                if (/[a-z]/.test(password)) {
                    strength += 1;
                }

                if (/\d/.test(password)) {
                    strength += 1;
                }

                if (/[^a-zA-Z\d]/.test(password)) {
                    strength += 1;
                }
            }

            var strengthDiv = document.getElementById('passwordStrength');
            strengthDiv.innerHTML = 'Password Strength: ';

            if (strength === 0) {
                strengthDiv.innerHTML += 'Weak';
                strengthDiv.className = 'text-danger';
            } else if (strength <= 3) {
                strengthDiv.innerHTML += 'Medium';
                strengthDiv.className = 'text-warning';
            } else {
                strengthDiv.innerHTML += 'Strong';
                strengthDiv.className = 'text-success';
            }
        }

        function validatePassword() {
            var password = document.getElementById('passwordInput').value;

            if (/[A-Z]/.test(password) || /[a-z]/.test(password) || ! /\d /.test(password) || !/[^a-zA-Z\d]/.test(password)) {
                alert('Password must contain at least one uppercase, one lowercase,one digit, one special character.');
                return false;
            }

            if (password.length < 12) {
                alert('Password must be minimum 12 chars.');
                return false;
            }

            return true;
        }
    </script>
}
